{% load static%}
<header>
    <div class="containe">
        <img class="logo" src="{% static "img/LogoRecorte.png" %}" alt="">
        <div>
            <nav>
                <a href="#">Home (Perfil)</a>
                <a href="#" style="color: #5F1BE3;">Dashboard</a>
                <a href="#"></a>
                <a href="#" style="color: #5F1BE3;"></a>
                <a href="#"></a>
            </nav>
            <div class="bt">
                <a href="#" class="button1" style="background-color: #96949B;">Dental</a>
            </div>
        </div>
    </div>
</header>