
<footer>
    <div class="container">

        <nav class="mb-1">
            <a href="#"><i class="mr-1 bi bi-tiktok"></i>Lorem Ipsum</a>
            <a href="#"><i class="mr-1 bi bi-twitter-x"></i>Lorem Ipsum</a>
            <a href="#"><i class="mr-1 bi bi-instagram"></i>Lorem Ipsum</a>
            <a href="#"><i class="mr-1 bi bi-envelope"></i>Lorem Ipsum</a>
            <a href="#"><i class="mr-1 bi bi-telephone"></i>Lorem Ipsum</a>
            <a href="#"><i class="mr-1 bi bi-linkedin"></i>Lorem Ipsum</a>
        </nav>
    </div>
</footer>